@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import './../../styles/theme.scss';
@import './../../styles/globals.scss';

.Humanlapse {
  // background-color: darkolivegreen;

  .pageLayout {

    display: grid;
    align-items: stretch;
    justify-items: stretch;
    animation: all 0.5s ease-in-out;
    min-height: 100vh;

    @include breakpoint(small) {
      grid-template-areas: "header" "visuals" "description";
    }
    @include breakpoint(normal) {
      grid-template-areas: "header visuals" "description visuals";
    }

    &Visuals {
      // background-color: indianred;
      grid-area: visuals;
      place-self: center;
    }

    &Description {
      //  background-color: cornflowerblue;
      grid-area: description;
      place-self: stretch;
      @include breakpoint(normal) {
        width: 25rem;
      }
    }

    &Header {
      //background-color: mediumvioletred;
      grid-area: header;
      place-self: flex-stretch;
      @include breakpoint(normal) {
        width: 25rem;
      }
    }

    &ManualLayoutVideoPlayer {
      //  background-color: cadetblue;
      @include breakpoint(normal) {
        height: 95vh;
        width: calc(100vw - 25rem);
      }
      @include breakpoint(small) {
        width: 100vw;
        height: calc(100vw) // WARN: fixed aspect ratio of 1:1 for the container to limit side margins - cant we do better to get a correct height ?
      }
    }

  }

  @mixin basicButtonSVGStuff() {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.75;

    margin: 1rem;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    &:active &:focus {
      outline: 0;
      border: none;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .header {
    height: 5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;

    .exitButton {

      @include breakpoint(normal) {
        align-self: center;
        justify-self: flex-start;
      }
      @include breakpoint(small) {
        align-self: center;
        justify-self: flex-start;
      }

      background: url('./../../res/arrow-left.svg');
      @include basicButtonSVGStuff();
      margin-right: 2rem;
      margin-left: 1.5rem;
      width: 2rem;
      height: 2rem;
    }

    h1 {
      align-self: center;
      font-size: 1.3rem;
    }
  }

  .description {

    padding: 1rem;
    min-height: calc(100% - 2rem); // substract padding and header
    display: flex;
    flex-direction: column;

    .navigationButtons {
      margin-top: auto; // put to bottom
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-self: flex-end;
      place-content: center;
      font-size: 4rem;

      .previousButton {
        background: url('./../../res/chevron-left.svg');
        @include basicButtonSVGStuff();
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
      }

      .middleText {
        font-size: 1rem;
        place-self: center;
      }

      .nextButton {
        background: url('./../../res/chevron-right.svg');
        @include basicButtonSVGStuff();
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
      }
    }

  }

}